.logoimage{
    position: absolute;
left: 6.69%;
right: 88.62%;
top: 4.17%;
bottom: 91.76%;
height: 4.68rem;
width: 6rem;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 44px;
}

#sidebar{
    width:  20rem;
    height: 50rem;
    background: #E1F9F4;
}

#icondiv{
    display: flex;
    flex-direction: column;
}

.icon{
    width: 1.375rem;
    height: 1.125rem;
}

#homeimage{
    position: absolute;
    left: 2.88%;
    right: 95.75%;
    top: 16.57%;
    bottom: 81.76%;

/* background: #2289FF; */
}

.imagediv{
    display: flex;
    flex-direction: row;
}